---
# This file overrides the theme's default style
# https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#customizing
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__hero {
  &--overlay {
    .page__title,
    .page__lead,
    .btn {
      text-shadow:
        // Multiple shadows gives a gradient of sorts, so the text pops a bit.
        // https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#multiple_shadows
        1px 1px 4px black,
        0 0 0.5em black,
        0 0 0.25em black;
        // 1px 1px 4px rgba(#000, 0.5);  // Default from theme
    }
    .btn {
      background-color: rgba(#000, 0.4);
      border: 2px solid #fff;
    }
  }
}
